h1{
    color:black;
    font-size: 36px;
    font-weight: bold;
    padding: 2px 16px;
}
h2{
    color:cadetblue;
    font-size: 20px;
    text-decoration: none;
    padding: 0px 8px;
}
p{
  color:black;
  font-size: 16px;
  padding: 0px 8px;
}
.member-name {
  font-size: 16px;
  font-weight: bold;
  padding: 0px 8px;
}

.member-info {
  font-size: 14px;
  padding: 0px 8px;
}

.member-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0px 8px;
}

.borderbox{
  border: 1px dashed cadetblue;
  width: 96%;
  padding: 1px;
  margin: 1px auto;
}
.unborderbox{
  border: 1px;
  width: 96%;
  padding: 1px;
  margin: 1px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.vision {
    border: 1px solid cadetblue;
    width: 90%;
    padding: 1px;
    margin: 1px auto;
    margin-top: 5px;
  }
.team {
    width: 90%;
    padding: 1px;
    margin: 1px auto;
  }

.navigation {
  background-color: cadetblue;
  overflow: hidden;
}

.navigation a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.navigation a:hover {
  background-color: #ddd;
  color: black;
}